{% extends "layout.html.twig" %}

{% block content %}
    <a href="{{ path('prototype') }}">prototype</a>
    <p>Welcome to Five-Dice!</p>
    <div class="create-block">
        <input type="text" id="fd-player"/>
        <button id="btn-create">Create game</button>
        <button id="btn-pending">Pending games</button>
    </div>
    <div class="pending-games"></div>
{% endblock %}
