{% extends "layout.html.twig" %}

{% block content %}
    <p>Welcome to Five-Dice!</p>
    <div class="create-block">
        <input type="text" id="fd-player"/>
        <button id="btn-create">Create game</button>
    </div>
{% endblock %}
