<!DOCTYPE html>
<html>
    <head>
        <title>Five-Dice Server</title>
        <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <script>
            var routes = {
                create: '{{ path('create') }}'
            }
        </script>
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
